.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.productos a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.productos a:hover{
    transform: scale(1.1); 
}
.producto{
    width: 220px;
    height: 280px;
    border: 1px solid rgb(179, 179, 179);
    padding: 3px;
    margin: 15px;
    box-shadow: 3px 3px 10px gray;
    background-color: rgb(255, 255, 255);

}

    



